<div class="video-wrapper-middle">
<div id="image-middle-top"><img alt="image-middle-top" src="{{%20site.url%20}}/identity/image-middle-top.png"></div><video autoplay="" id="middle-video-1" loop=""><source src="{{page.video}}" type="video/mp4"> <source src="{{page.video}}" type="video/ogg"> Your browser does not support HTML5 video.</video> <video autoplay="" id="middle-video-2" loop=""><source src="{{page.video}}" type="video/mp4"> <source src="{{page.video}}" type="video/ogg"> Your browser does not support HTML5 video.</video>
<div id="image-middle-bottom"><img alt="image-middle-bottom" src="{{%20site.url%20}}/identity/image-middle-bottom.jpg"></div>
</div>
