<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<br>
	<br>
	{% include image.html %}<br>
	<br>
	<br>
	{% include toptable.html %}<br>
	<br>
	<h2>Варианты инсталляций</h2><br>
	<p>В таблице приблизительные расчеты стоимости инсталляции «{{ page.title }}» в разных масштабах.</p><br>
	<table>
		<tr>
			<td>

	{% include room.html %}

</td>
</tr>

		<tr>
			<td>Комната</td>
		</tr>
		<tr>
			<td>
				<a href="/casio-xj-ut311wn" target="_blank">Casio</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="/asus-vivostick-pc-ts10" target="_blank">Asus</a>
			</td>
		</tr>
		<tr>
			<td>Стена</td>
		</tr>
		<tr>
			<td>{% include total-price-seconds-1.html %} руб.</td>
		</tr>
	</table>

		{% include hall.html %}

	<table>
		<tr>
			<td>Зал</td>
		</tr>
		<tr>
			<td>
				<a href="/casio-xj-ut311wn" target="_blank">Casio</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="/asus-vivostick-pc-ts10" target="_blank">Asus</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="/3m-vikuiti" target="_blank">Экран 3M</a>
			</td>
		</tr>
		<tr>
			<td>{% include total-price-seconds-2.html %} руб.</td>
		</tr>
	</table>

		{% include wall.html %}


	<table>
		<tr>
			<td>Фасад</td>
		</tr>
		<tr>
			<td>
				<a href="/casio-xj-ut311wn" target="_blank">Casio</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="/asus-vivostick-pc-ts10" target="_blank">Asus</a>
			</td>
		</tr>
		<tr>
			<td>Стена</td>
		</tr>
		<tr>
			<td>{% include total-price-seconds-3.html %} руб.</td>
		</tr>
	</table><br>
	<br>
	<p><a href="/index" target="_blank">На главную страницу</a></p>
</body>
</html>
