body {
  background: navy;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 200px;
  align-items: left;
}
.grid svg {
  border: 0px;
  max-width: 100%;
}

svg {
  max-width: 100%;
  min-width: 80%;
  height: auto;
  margin: 1em 1em 1em 1em;
}
